.page_header {
    padding: 20px 0 40px 20px;
    display: flex;
    align-items: center;
}

.page_title {
    margin: 0 20px 0 50px;
}

.page_actions button {
    margin-right: 5px;
}

.page_body {
    padding: 20px;
    width: 100%;
}

.preview_image {
    margin-top: 10px;
    max-width: 200px;
    max-height: 200px;
}