.customButtons {
    display: inline-flex;
}

.customExportButtons button {
    margin-left: 5px;
}

.clearFiltersButton {
    margin-left: 10px;
}

thead tr th {
    background-color: #f8fafc !important;
    font-size: 14px;
}

thead tr:not(.filters) th {
    color: black;
}

.dataTable tbody {
    color: black;
    font-size: 14px;
    font-weight: 400;
}

.dataTable tbody tr td {
    padding-left: 20px;
    padding-top: 15px;
    border-bottom: 1px solid #dddddd;
    vertical-align: top !important;
}

.dataTable tr:hover {
    background-color: #f2f2f2;
    height: 30px;
}

/* table.dataTable tbody tr.selected {
    background-color: #dddddd !important;
} */

.range-filter-container {
    display: flex;
}

.range-filter-input {
    width: 150px;
}

.ui-datepicker {
    z-index: 9999 !important;
}

.actionButton {
    margin-left: 5px;
    margin-top: -5px;
}
